*{
    overflow-x: hidden;
    overflow-anchor: none;
    margin: 0;
    padding: 0;
}

.logo{
    position: relative;
    height: 260px;
    top: -100px;
    left: 50px;
    z-index: 10;
    cursor: pointer;
}

nav{
    position: relative;
    top: -270px;
    background-color: whitesmoke;
    width: 105vw;
    height: 80px;
    left: -8px;
}

nav button{
    position: relative;
    background-color: rgb(131, 210, 253);
    height: 40px;
    width: 200px;
    left: 550px;
    top: 20px;
    border-radius: 20px;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .3s ease;
}

nav button:hover{
    color: white;
    top: 15px;
}

nav button:hover{
    color: white;
    top: 15px;
}

.box{
    position: absolute;
    background-color: rgb(131, 210, 253);
    height: 350px;
    width: 300px;
    border: 4px solid black;
    border-radius: 15px;
    top: 385px;
    left: 50%;
    margin-left: -490px;
    transition: .3s ease;
}

.box:hover{
    color: white;
    top: 370px;
}

.box1{
    position: absolute;
    background-color: rgb(131, 210, 253);
    height: 350px;
    width: 300px;
    border: 4px solid black;
    border-radius: 15px;
    left: 50%;
    margin-left: -150px;
    top: 385px;
    transition: .3s ease;
}

.box1:hover{
    color: white;
    top: 370px;
}

.box2{
    position: absolute;
    background-color: rgb(131, 210, 253);
    height: 350px;
    width: 300px;
    border: 4px solid black;
    border-radius: 15px;
    top: 385px;
    left: 50%;
    margin-left: 185px;
    transition: .3s ease;
}

.box2:hover{
    color: white;
    top: 370px;
}

.boxTitle{
    text-align: left;
    margin-left: 20px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.boxText{
    text-align: center;
    margin-top: 40px;
}

.fa-solid{
    position: relative;
    font-size: 70px;
    left: 50%;
    margin-left: -35px;
    top: 30px;
    overflow-y: hidden;
}

.footer{
    overflow-y: hidden;
    position: absolute;
    bottom: -250px;
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
}

.logo2{
    position: relative;
    height: 260px;
    top: -20px;
    left: 50px;
    z-index: 10;
}

.creds{
    position: relative;
    left: 400px;
    top: -155px;
}

.tittel{
    position: relative;
    text-align: center;
    top: -150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.fa-bars, .fa-xmark{
    position: relative;
    top: -120px;
    z-index: 40;
    font-size: 40px;
    left: 3000px;
}

.h{ /* Kontakt-knapp */
    position: absolute;
    z-index: 30;
    background-color: rgb(131, 210, 253);
    height: 50px;
    top: 340px;
    width: 400px;
    display: none;
    left: 15px;
    border-radius: 20px;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .2s ease;
}

.h:hover{
    color: white;
    top: 330px;
}

.h:nth-child(3) {
    top: 100px; /* Hjem-knapp */
}

.h:nth-child(3):hover{
    color: white;
    top: 90px;
}

.h:nth-child(4) {
    top: 180px; /* Om-knapp */
}

.h:nth-child(4):hover {
    color: white;
    top: 170px;
}

.h:nth-child(5) {
    top: 260px; /* Prosjekter-knapp */
}

.h:nth-child(5):hover {
    top: 250px; /* Prosjekter-knapp */
}


/*  Device reponsivness */

@media screen and (max-width: 2000px){

nav button{
 left: 1000px;
}

}

@media screen and (max-width: 1800px){

nav button{
    left: 500px;
}
}

@media screen and (max-width: 1300px){

nav button{
    left: 440px
}
}

@media screen and (max-width: 1200px){
nav button{
        left: 350px;
    }
}

@media screen and (max-width: 1150px){
nav button{
    left: 450px;
    width: 150px;
    height: 35px;
}
}

@media screen and (max-width: 1078px){

.footer{
    overflow-y: hidden;
    position: absolute;
    bottom: -1400px;
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
}


}

@media screen and (max-width: 1054px){
    nav button{
        width: 150px;
        left: 360px;
    }
}


@media screen and (max-width: 990px){

.fa-bars, .fa-xmark{
    position: absolute;
    top: 15px;
    z-index: 30;
    font-size: 40px;
    left: 80%;
    margin-left: -10px;
}

.h{
    left: 50%;
    margin-left: -200px;
}

.logo{
    position: relative;
    height: 180px;
    top: -50px;
    left: 20px;
    z-index: 10;
    cursor: pointer;
}

nav{
    position: relative;
    z-index: 5;
    top: -190px;
    background-color: whitesmoke;
    width: 105vw;
    height: 80px;
}

nav button{
    left: 5000px;
}

.box{
    position: absolute;
    background-color: rgb(131, 210, 253);
    height: 350px;
    width: 300px;
    border: 4px solid black;
    border-radius: 15px;
    top: 270px;
    left: 50%;
    margin-left: -154px;
    transition: .3s ease;
}

.box:hover{
    top: 250px;
}

.box1{
    position: absolute;
    background-color: rgb(131, 210, 253);
    height: 350px;
    width: 300px;
    border: 4px solid black;
    border-radius: 15px;
    left: 50%;
    margin-left: -154px;
    top: 700px;
    transition: .3s ease;
}

.box1:hover{
    top: 680px;
}

.box2{
    position: absolute;
    background-color: rgb(131, 210, 253);
    height: 350px;
    width: 300px;
    border: 4px solid black;
    border-radius: 15px;
    top: 1130px;
    left: 50%;
    margin-left: -154px;
    transition: .3s ease;
}

.box2:hover{
    top: 1110px;
}

.footer{
    overflow-y: hidden;
    position: absolute;
    bottom: -1400px;
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
}

.logo2{
    position: relative;
    height: 180px;
    top: -40px;
    left: 20px;
    z-index: 10;
}

.creds{
    position: relative;
    left: 30px;
    top: -80px;
    font-size: 15px;
}

}

@media screen and (max-width: 440px){

.logo{
    position: relative;
    height: 180px;
    top: -50px;
    left: 20px;
    z-index: 10;
    cursor: pointer;
}

nav{
    position: relative;
    z-index: 5;
    top: -190px;
    background-color: whitesmoke;
    width: 105vw;
    height: 80px;
    left: -8px;
}

.creds{
    position: relative;
    left: 30px;
    top: -80px;
    font-size: 15px;
}
}

@media screen and (max-width: 410px){

.creds{
    font-size: 12px;
}

.tekst{
    font-size: 15px;
    width: 300px;
    margin-left: -150px;
}

.h{
    width: 300px;
    margin-left: -150px;
}

}